# 5G NEF API endpoint settings
NET_APP_NAME=test
NET_API_PROT=http
NET_API_HOST=0.0.0.0
NET_API_PORT=8888
NET_API_USER=test
NET_API_PASS=test
# Notification destination host
CALLBACK_HOST=0.0.0.0
CALLBACK_PORT=80
# Set rMON Collector host
COLLECTOR_HOST=https://test.com
COLLECTOR_USER=test
COLLECTOR_PASS=test
# MN API host
MN_HOST=http://test.com
MN_TOKEN=""
